
body { background-color: #ffb6c1;
}
hr { border-style: none;
border-top-style:dotted;
border-color: purple;
border-width: 2px;
width: 50%;
}
h3 {color: #663399;
}
h5 { color: #1e90ff;
}
